@use './sections/top.scss';
@use './sections/input.scss';
@use './sections/mainPart.scss';
@use './sections/commonIcon.scss';
@use './sections/bottomSymbol.scss';
@use './sections/iconContentDisplay.scss';
@use './sections/messageDisplay.scss';



*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background-image: url('/src/backgroundImg/padrinan.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  display: flex; 
  flex-direction: column;
}

main {
  margin-top: 2.5rem;
  flex-grow: 1; /* Ensure main takes up the remaining space */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.noDisplay{
   display: none;
}
