$border-color: #ccc;

.main-part{
  display:flex;
  justify-content: center;
  align-items: center; 
  flex-grow: 1; /* Make main part take up remaining space */
  ul{ 
    display: grid;
    grid-template-columns: repeat(4, minmax(100px , 1fr));
    gap: 2rem 0;
    
    
    list-style-type: none;
    li{
      position: relative;
      text-align: center;
      img{
        display: block;
        margin: 0 auto;
        height: 10vh;
      }
      span{
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translateX(-50%); 
      white-space: nowrap;/* Prevent text from wrapping */
      }
    }
}
 
}

.line{
  border-bottom: 4px solid $border-color;
  padding-top: 3rem;
  width: 98%;
  margin: 0 auto;
}